<div class="options">
  <dx-form [(formData)]="options">
    <dxi-item
      dataField="challenges"
      editorType="dxSelectBox"
      [editorOptions]="{
        dataSource: challenges,
        displayExpr: 'text',
        valueExpr: 'value',
        onValueChanged: onValueChanged
      }"
    >
    </dxi-item>
    <dxi-item
      dataField="stages"
      editorType="dxSelectBox"
      [editorOptions]="{
        items: stages,
        displayExpr: 'text',
        valueExpr: 'value',
        onValueChanged: onValueChanged
      }"
    >
    </dxi-item>
  </dx-form>

  <div class="import-export">
    <button class="reset" mat-button color="warn" (click)="resetData()">Reset</button>
    <dx-text-box #importTextBox [(value)]="importText" placeholder="Paste import data here"></dx-text-box>
    <button mat-button color="primary" (click)="importData(importTextBox)">Import</button>
    <button mat-button color="primary" [cdkCopyToClipboard]="getExportData()" (cdkCopyToClipboardCopied)="notifyCopied()">Export</button>
  </div>
</div>
