@use '@angular/material' as mat;
@use 'styles' as styles;

.table-container {
	height: 100%;
	width: 100%;
  	position: relative;

  .challenge-grid {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

  }

  ::ng-deep .grid-check {
    font-size: 24px !important;
  }

  ::ng-deep .cell-text-wrap {
    text-wrap: auto;
  }

  ::ng-deep dx-button.primary-button .dx-button-content .dx-icon {
    color: mat.get-theme-color(styles.$my-theme, 'primary');

  }

}

.group-header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  .group-header {
    margin: 4px;

    .header-spacer {
      display: inline-block;
      width: 8px;

    }

  }

  .group-buttons {
    margin-right: 14px;

  }

}

.info-text {
  text-wrap: auto;
}

.text-link {
  color: mat.get-theme-color(styles.$my-theme, 'primary');

}
