<div class="table-container">
	<dx-data-grid
    #grid
		class="challenge-grid"
		[dataSource]="data"
    [rowAlternationEnabled]="true"
    [allowColumnResizing]="true"
    (onRowDblClick)="completeChallengeDblClick($event.data)">

    <dxo-toolbar>
      <dxi-item location="before">
        <dx-button
          icon="info"
          hint="Information"
          [elementAttr]="{ class: 'primary-button' }"
          (onClick)="InfoPopup.instance.show()">
        </dx-button>
      </dxi-item>
      <dxi-item location="before" text="Conqueror's Blade Challenges"></dxi-item>
      <dxi-item location="after">
        <dx-button
          icon="undo"
          hint="Undo completion"
          [elementAttr]="{ class: 'primary-button' }"
          [disabled]="this.sessionOrderedCompletions.isEmpty()"
          (onClick)="undo()">
        </dx-button>
      </dxi-item>
      <dxi-item location="after">
        <dx-button
          icon="optionsgear"
          hint="More Options"
          [elementAttr]="{ class: 'primary-button' }"
          (onClick)="OptionsPopup.instance.show()">
        </dx-button>
      </dxi-item>
      <dxi-item location="after">
        <dx-button
          icon="refresh"
          hint="Refresh Challenges"
          (onClick)="grid.instance.refresh()">
        </dx-button>
      </dxi-item>
      <dxi-item location="after" name="columnChooserButton"></dxi-item>
    </dxo-toolbar>

		<dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-scrolling mode="infinite"></dxo-scrolling>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-group-panel [visible]="false" [allowColumnDragging]="false"></dxo-group-panel>
    <dxo-grouping [allowCollapsing]="true"></dxo-grouping>

    <dxi-column
      caption="Season"
      dataField="seasonId"
      width="85px"
      [allowHeaderFiltering]="true"
      [allowFiltering]="false"
      [showWhenGrouped]="true"
      [groupIndex]="0"
      groupCellTemplate="seasonGroupCellTemplate">
      <dxo-header-filter [dataSource]="seasons" [allowSearch]="true"></dxo-header-filter>
    </dxi-column>
    <div *dxTemplate="let data of 'seasonGroupCellTemplate'" class="group-header-container">
      <h2 class="group-header">{{ getSeason(data.value)?.name }}</h2>
      <div class="group-buttons" [title]="'Complete season ' + getSeason(data.value)?.name">
        <a class="grid-check dx-link material-icons done_all" (click)="completeGrouped(data)"></a>
      </div>
    </div>

    <dxi-column
      caption="Section"
      dataField="sectionId"
      width="85px"
      [allowHeaderFiltering]="true"
      [allowFiltering]="false"
      [showWhenGrouped]="true"
      [groupIndex]="1"
      groupCellTemplate="sectionGroupCellTemplate">
      <dxo-header-filter [dataSource]="sections" [allowSearch]="true"></dxo-header-filter>
    </dxi-column>
    <div *dxTemplate="let data of 'sectionGroupCellTemplate'" class="group-header-container">
      <h2 class="group-header">{{ getSection(data.value)?.name }}</h2>
      <div class="group-buttons" [title]="'Complete section ' + getSection(data.value)?.name">
        <a class="grid-check dx-link material-icons done_all" (click)="completeGrouped(data)"></a>
      </div>
    </div>

    <dxi-column
      caption="Stage"
      dataField="stageId"
      [groupIndex]="2"
      groupCellTemplate="stageGroupCellTemplate">
    </dxi-column>
    <div *dxTemplate="let data of 'stageGroupCellTemplate'" class="group-header-container">
      <h3 class="group-header">
        ( {{ (getStage(data.value)?.challenges?.length ?? 0) - (data?.data?.items?.length ?? 0) }} / {{ getStage(data.value)?.required }} )
        {{ getStage(data.value)?.name }}
      </h3>
      <div class="group-buttons" [title]="'Complete stage ' + getStage(data.value)?.name">
        <a class="grid-check dx-link material-icons done_all" (click)="completeGrouped(data)"></a>
      </div>
    </div>


    <dxi-column
			caption="Id"
			dataField="id"
			dataType="string"
      [allowHeaderFiltering]="false"
			[visible]="false">
		</dxi-column>

		<dxi-column
			caption="Text"
			dataField="text"
			dataType="string"
      cssClass="cell-text-wrap"
      [allowHeaderFiltering]="false">
		</dxi-column>

		<dxi-column
			caption="Tags"
      dataField="tags"
      dataType="string"
      cellTemplate="tagTemplate"
      [allowHeaderFiltering]="true"
      [calculateCellValue]="calculateTagsValue"
      [calculateFilterExpression]="calculateTagsFilter"
      [filterOperations]="['contains']">
      <dxo-header-filter [dataSource]="ChallengeTags" searchMode="contains"></dxo-header-filter>
		</dxi-column>

    <div *dxTemplate="let data of 'tagTemplate'" class="challenge-tag-container">
      <mat-chip-set>
        <mat-chip *ngFor="let tag of data.data.tags">{{ tag }}</mat-chip>
      </mat-chip-set>
    </div>

    <dxi-column type="buttons">
      <dxi-button icon="check" cssClass="grid-check" hint="Complete Challenge" [onClick]="completeChallenge"></dxi-button>
    </dxi-column>

	</dx-data-grid>
</div>

<dx-popup
  #InfoPopup
  title="Information"
  [showCloseButton]="true"
  height="80vh"
  width="80vw">
  <pre class="info-text">
    <h1 style="margin-top: 0">Conqueror's Blade Challenge Tracker</h1>
    A simple app to track your Conqueror's Blade Challenges.

    This app allows you to mark challenges, stages, sections (units/weapons) and seasons as complete so that they are hidden from view.
    You can then use the filter and sort functionality to quickly search for available challenges based on the content you are playing.

    <h2>Usage</h2>
    Either click the <mat-icon [inline]="true">check</mat-icon> icon or double click a row to complete the challenge. You may complete an individual challenge or an entire stage, section, or season at a time.

    You can use the <mat-icon [inline]="true">undo</mat-icon> button in the toolbar to undo actions that have been taken. Note that this is only tracked during the current session unlike challenge progress which is persisted.

    When filtering for challenges, only the stages you have prerequisites for will be displayed. For instance, if you are on stage 1 of Spartan's Chosen you will not see stage 2. Additionally, if you don't have Laconic Javelins, you will not see any stages for Spartan's Chosen. This behavior can be changed in the more options menu by clicking the <mat-icon [inline]="true">settings</mat-icon> button.

    <h2>Progress</h2>
    Progress is saved in your browser storage so it will persist through sessions.

    If you would like to backup your data, the more options dialog has import/export functionality.

    <h2>Known Issues</h2>
    1. Seasons 2 through 5 are not configured to filter out purple/gold units until the required units are unlocked. These seasons are a mess so I skipped them
    2. Weapon Challenges (Pike, Maul, Chainblade, etc.) are not included. These challenges were not available from where I pulled the data.
        a. If you have the data for these, please create a git issue and post the challenge data
    3. Various spelling errors

    <h2>Helping Out</h2>
    If you see something that is wrong or needs correction, please submit a new <a class="text-link" href="(https://github.com/eriniah/CbChallengeTracker/issues/new?template=Blank+issue)">github issue</a> or open a PR with the fix

    <h2>Notes</h2>
    Many thanks to "&#64;lx__" who gathered and formatted the data <a class="text-link" href="https://jsp.ellpeck.de/#03120789">on this site</a> which is where I pulled the data from.
  </pre>
</dx-popup>

<dx-popup
  #OptionsPopup
  title="Options"
  [showCloseButton]="true"
  height="80vh"
  width="50vw"
  minWidth="400px">
  <app-global-options
    [options]="filterOptions"
    (onImport)="handleImport($event)"
    (onReset)="handleReset()"
    (valueChanged)="this.grid.instance.refresh()">
  </app-global-options>
</dx-popup>
