@use 'devextreme/scss/bundles/dx.material.blue.dark.compact.scss';
@use '@angular/material' as mat;

@include mat.core();

$primary-palette: (
	50: #e1f5fe,
	100: #b3e5fc,
	200: #81d3fa,
	300: #4ec2f7,
	400: #28b5f6,
	500: #03a8f4,
	600: #049ae5,
	700: #0487d1,
	800: #0476bd,
	900: #03569b,
	contrast: (
		50: rgba(black, 0.87),
		100: rgba(black, 0.87),
		200: rgba(black, 0.87),
		300: rgba(black, 0.87),
		400: rgba(black, 0.87),
		500: rgba(black, 0.87),
		600: rgba(black, 0.87),
		700: rgba(black, 0.87),
		800: white,
		900: white,
	)
);

$secondary-palette: (
	50: #f1f8e9,
	100: #dcedc8,
	200: #c5e1a5,
	300: #aed581,
	400: #9ccc65,
	500: #8bc34a,
	600: #7cb342,
	700: #689f38,
	800: #558b2f,
	900: #33691e,
	contrast: (
		50: rgba(black, 0.87),
		100: rgba(black, 0.87),
		200: rgba(black, 0.87),
		300: rgba(black, 0.87),
		400: rgba(black, 0.87),
		500: rgba(black, 0.87),
		600: rgba(black, 0.87),
		700: rgba(black, 0.87),
		800: white,
		900: white,
	)
);

$my-primary: mat.define-palette($primary-palette, 500);
$my-accent: mat.define-palette($secondary-palette, 500);

$my-theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);

body {
	@extend .mat-app-background;
	$body-padding: 8px;
	height: calc(100vh - #{2 * $body-padding});
	width: calc(100vw - #{2 * $body-padding});
	padding: $body-padding;
	margin: 0;

	app-root {
		height: 100%;
		width: 100%;

	}
}

.material-icons.done_all:before {
  content: 'done_all';
}

